
.inputBlock {
    clear: left;
}

.label {
    float: left;
    text-align: right;
    width: 150px;
    margin-right: 5px;
}

.inputElement {
    float: left;
}

.formcontainer {
    border: 1px solid black;
    padding: 10px;
}

.error {
    color: red;
}
