body {
    background-color: #fcfbdb;
    margin-top: 0;
}

#menu {
    height: 32px;
    line-height: 32px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #555555;
    margin: 0 20px 0 20px;
    border-radius: 0 0 4px 4px;
    padding:0 25px; 
}

#menucontainer {
    float: left;
}

select {
    border: 0 none;
    background-color: #ffffff;
    width: 60px;
    padding: 6px 0 6px 0;
    float: left;
}

.linkbox {
    width: 90px;
    padding: 0 5px 0 5px;
    text-align: center;
    float: left;
}

.linkbox a {
    text-decoration: none;
}

.inputBlock {
    clear: left;
}

.label {
    float: left;
    text-align: right;
    width: 150px;
    margin-right: 5px;
}

.inputElement {
    float: left;
}

.submitbutton {
}

.textarea {
}

.formcontainer {
    border: 1px solid black;
    padding: 10px;
    width: 600px;
}

.error {
    color: red;
}
